@media screen and (max-width: 768px) {

    /* Estilos para mobile */
    .icones-link {
        color: black !important;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}






@media screen and (min-width: 768px) {
    /* Estilos para desktop */

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card .card-action {
        padding: 16px 24px;
        display: grid !important;
        align-items: center;
        justify-content: center;
    }

    .img{
        width: 24px;
        height: 24px;
    }

    path {
        fill: blue;
    }


}