@media screen and (max-width: 768px) {
    /**  CSS para desktops de tela pequena */

    .icones-link {
        color: #000 !important;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    path {
        fill: #000;
    }
}


@media screen and (min-width: 768px) {

    /* CSS para dispositivos móveis e tablets */
    

    nav {
        height: 5rem !important;
    }


    .sessao {
        display: flex;
    }

    .card-row {
        margin-bottom: 0;
    }
    .card .card-content {
        padding: 0 1.5rem;
        border-radius: 0 0 2px 2px;
    }

    .cartao {

        width: 80%;
        text-align: justify;
        font-size: 0.9rem;
        align-items: center;
        justify-content: center;
    }

    .coluna1-card {
        display: block;
        justify-content: center;
    }

    .texto-index {
        padding-bottom: 1.125rem;
    }
    .h3-index {
        line-height: 0.1rem !important;
        margin: .8rem 0;
        padding-bottom: 20px;
        font-size: 1.2rem;       
    }
 
    .card .card-content {
        padding: 24px;
        border-radius: 0 0 2px 2px;
    }


    .page-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: flex-start;
    }


    @media screen and (min-width: 1920px) {
        /* monitores de 1920x1080 */

        .brand-logo {
            display: block;
            padding: .625rem;
            margin: 1.125rem;
        }

        nav {
            height: 5rem !important;
        }

        main {
            flex: 1 0 auto;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;

        }
        


        .sessao {
            display: flex;
            margin: 5em 0
        }

        .row .col.s12 {
            display: flex;
            width: 100%;
            margin-left: auto;
            left: auto;
            right: auto;
        }



        .coluna1-card {
            display: flex !important;
            justify-content: center;
            vertical-align: middle;
            align-items: center;
        }

        .cartao {

            height: 100%;
            width: 60%;
            text-align: justify;
            font-size: 0.9rem;
            justify-content: center;
        }

        .texto-index {
            padding: 0 .725rem .725rem .725rem;
        }

        .cartao h3 {
            font-size: xx-large;
        }

        .img {
            width: 24px;
            height: 24px;
        }

        .logo-svg {
            fill: #fff;
            text-decoration: none;
            color:#fff
        }

        .page-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            justify-content: flex-start;
        }
    }
}

@media only screen and (min-width: 601px) {
    .row .col.s12 {
        display: flex;
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .h3-index {
        font-size: 1.2rem;
        line-height: 0.1rem;
        margin: 1.5rem 0 0.5rem 0;
    }
}