@media screen and (max-width: 768px) {

    /* Estilos para mobile */
    .icones-link {
        color: black !important;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}






@media screen and (min-width: 768px) {
    /* Estilos para desktop */

    
      main {
        flex: 1 0 auto;
      }

      .page-footer {
        position:fixed;
        bottom: 0;
        width: 100%;
        justify-content: flex-start;
      }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cartao {
        height: 100%;
    }
    .container-article{
        vertical-align: middle;
        width: 100%;

    }
    .artigo-index{
        width: 90%;
        padding: 3.125rem 0;
    }

    .paragrafo-index{
        padding: 3.125rem 20%;
        vertical-align: middle !important;
        text-justify: newspaper;
    }

    .img{
        width: 24px;
        height: 24px;
    }

    path {
        fill: blue;
    }



}


